<<!doctype html>
<html>
    <head>
        <title>Witajcie</title>
    </head>
    <body>
        <h1>Kalkulator</h1>
        <form method="post">
            <input type="text" name="num1">
            <select name="operation">
                <option value="add">+ (Dodawanie)</option>
                <option value="sub">- (Odejmowanie)</option>
                <option value="mul">* (Mnożenie)</option>
                <option value="div">/ (Dzielenie)</option>
            </select>
            <input type="text" name="num2">
            <input type="submit" value="Oblicz">
        </form>
    </body>
</html>